body {
	background-color: #fff;
	font-family: sans-serif;
}
div.body {
	width: 800px;
	margin: auto;
}
h1 {
	text-align: center;
}
#div-myself {
	border: 8px solid #090;
	padding: 8px 16px;
	text-align: center;
}
#div-delegation {
	background-color: #eee;
	margin-top: 2em;
	text-align: center;
	color: #999;
}
#div-delegation div.layout {
	padding: 8px 16px;
}
div.error {
	background-color: #900;
	color: #fff;
	padding: 1em;
}
div.error span.message {
	xfont-style: italic;
}