body {
	background-color: #fff;
	font-family: sans-serif;
	margin: 8px;
}
div.body {
	width: 800px;
	margin: auto;
}
h1 {
	text-align: center;
}
#body-pois h1 {
	margin-top: 0;
}
#div-myself {
	border: 8px solid #090;
	padding: 8px 16px;
	text-align: center;
}
#div-delegation {
	background-color: #eee;
	margin-top: 2em;
	text-align: center;
	color: #999;
}
#div-delegation div.layout {
	padding: 8px 16px;
}
div.error {
	background-color: #900;
	color: #fff;
	padding: 1em;
	text-align: center;
	margin-bottom: 1px;
}
div.error span.message {
	xfont-style: italic;
}
body.entered {
	margin: 0 0 8px;
}
body#body-pois.entered {
	margin-bottom: 0;
}
body.entered div.body {
	margin-top: 8px;
}
#div-entered {
	background-color: #79b8d9;
	color: #fff;
	font-size: small;
	padding: 2px 0;
	text-align: center;
}
#div-entered ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#div-entered li {
	display: inline-block;
	margin: 0 2em 0 1em;
}
#div-entered a {
	color: #fff;	
}
#div-entered a:active{
	color: #f00;
}
#body-entered table {
	border-collapse: collapse;	
}
#body-entered th,
#body-entered td {
	border: 1px solid #000;	
}
#body-entered th,
#body-entered td {
	padding: 2px 30px;
}
#body-entered #div-regions td.label {
	padding: 2px 2px;
}
#body-entered th {
	background-color: #9bc9e1;
}
h2 {
	text-align: center;	
}
table {
	margin: auto;	
}
table a {
	text-decoration: none;
}
td.edit {
	font-size: small;
}
div.disabled {
	color: #ccc;
}
div.table.bottom {
	text-align: center;
	margin-top: 1em;	
}
div.table.bottom a {
	text-decoration: none;	
}
#body-entered th.none,
#body-entered td.none {
	border: none;
	padding: 0 2px;
	font-weight: bold;	
	background-color: transparent;
	width: 30px;
	text-align: right;
}
#body-entered td.none div.delegation,
#body-entered td.none div.delegation.principal {
	color: #090;
}
#body-entered td.none div.principal {
	color: #900;
}
#body-useradd th {
	text-align: left;
}
#body-useradd th,
#body-useradd td {
	padding: 0.5em 0.2em;	
}
#body-useradd div.table.bottom {
	margin-top: 2em;
}
#body-useradd button,
#div-regions button {
	margin-left: 6em;
	margin-right: 6em;	
}
#body-useradd div.table.bottom a {
	font-size: small;
}
#body-useradd input {
	width: 20em;
}
#div-regions input {
	width: 20em;
}
span.error {
	color: #900;
	font-weight: bold;
	font-size: small;
	text-decoration: underline;
}
#div-regions,
#div-pois {
	margin-top: 3em;
}
#div-regions td.universityCount,
#div-pois td.poiCount {
	text-align: right;
}
#div-regions td.universityCount {
	padding-right: 4em;
}
#div-buildInfo {
	margin-bottom: 2em;
	text-align: center;
	color: #ccc;
	font-size: small;	
}
h2 a {
	text-decoration: none;
}
div.pois h2 {
	font-size: 12px;
	text-align: left;
	margin: 0;
	padding: 0 8px;
}
div.pois div ul {
	font-size: 12px;
}
#body-pois #div-left {
	width: 300px;
}
#body-pois #div-left-top div.ui-tabs-panel {
	xbackground-color: #ff0;
	padding-left: 0;
	padding-right: 0;
}
#ul-pois li.poi:hover {
	xbackground-color: #ff0;
}
#ul-pois {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#ul-pois ul {
	padding: 0;
	margin: 0 0 2em;
	border-bottom: 1px solid #ccc;	
}
#ul-pois li.poi {	
	margin: 0;
	xborder-collapse: collapse;
	border-top: 1px solid #ccc;
}
#ul-pois li.poi a {
	display: block;
	padding: 0.5em 8px 0.5em 24px;
	text-decoration: none;
	color: #00f;
	background-repeat: no-repeat;
	background-size: 17px 30px;
	background-position: 2px 5px;
	background-image: url(../img/markers/marker_greenEllipsis@2x.png);
}
#ul-pois li.poi.A a { background-image: url(../img/markers/marker_greenA@2x.png); }
#ul-pois li.poi.B a { background-image: url(../img/markers/marker_greenB@2x.png); }
#ul-pois li.poi.C a { background-image: url(../img/markers/marker_greenC@2x.png); }
#ul-pois li.poi.D a { background-image: url(../img/markers/marker_greenD@2x.png); }
#ul-pois li.poi.E a { background-image: url(../img/markers/marker_greenE@2x.png); }
#ul-pois li.poi.F a { background-image: url(../img/markers/marker_greenF@2x.png); }
#ul-pois li.poi.G a { background-image: url(../img/markers/marker_greenG@2x.png); }
#ul-pois li.poi.H a { background-image: url(../img/markers/marker_greenH@2x.png); }
#ul-pois li.poi.I a { background-image: url(../img/markers/marker_greenI@2x.png); }
#ul-pois li.poi.J a { background-image: url(../img/markers/marker_greenJ@2x.png); }
#ul-pois li.poi.K a { background-image: url(../img/markers/marker_greenK@2x.png); }
#ul-pois li.poi.L a { background-image: url(../img/markers/marker_greenL@2x.png); }
#ul-pois li.poi.M a { background-image: url(../img/markers/marker_greenM@2x.png); }
#ul-pois li.poi.N a { background-image: url(../img/markers/marker_greenN@2x.png); }
#ul-pois li.poi.O a { background-image: url(../img/markers/marker_greenO@2x.png); }
#ul-pois li.poi.P a { background-image: url(../img/markers/marker_greenP@2x.png); }
#ul-pois li.poi.Q a { background-image: url(../img/markers/marker_greenQ@2x.png); }
#ul-pois li.poi.R a { background-image: url(../img/markers/marker_greenR@2x.png); }
#ul-pois li.poi.S a { background-image: url(../img/markers/marker_greenS@2x.png); }
#ul-pois li.poi.T a { background-image: url(../img/markers/marker_greenT@2x.png); }
#ul-pois li.poi.U a { background-image: url(../img/markers/marker_greenU@2x.png); }
#ul-pois li.poi.V a { background-image: url(../img/markers/marker_greenV@2x.png); }
#ul-pois li.poi.W a { background-image: url(../img/markers/marker_greenW@2x.png); }
#ul-pois li.poi.X a { background-image: url(../img/markers/marker_greenX@2x.png); }
#ul-pois li.poi.Y a { background-image: url(../img/markers/marker_greenY@2x.png); }
#ul-pois li.poi.Z a { background-image: url(../img/markers/marker_greenZ@2x.png); }
#ul-pois li.poi.selected {
	background-color: #eef;
}
div.infoWindow {
	width: 20em;
	height: 4em;
	position: relative;
}
div.infoWindow .hidden {
	display: none;
}
div.infoWindow div.img {
	xposition: absolute;
	xtop: 0px;
	xright: 0px;
	float: right;
	width: 50px;
	height: 50px;
	overflow: hidden;
	margin: 0;
	background-color: #f00;
}
div.infoWindow img.width100 {
	width: 100%;
	margin: auto;
}
div.infoWindow img.height100 {
	height: 100%;
	margin: auto;
}
div.infoWindow span.name {
	font-weight: bold;
}
#div-details.hidden,
#div-details div.field.hidden {
	display: none;
}
#body-pois #div-left-bottom div.ui-tabs-panel {
	xbackground-color: #ff0;
	padding-left: 0;
	padding-right: 0;
}
#div-details {
	font-size: 12px;
}
#div-details div.name {
	font-size: 120%;
	font-weight: bold;
	margin: 0 0 0.4em;
	padding: 0 8px;
}
#div-details div.field.active div.title {
	display: none;
}
#div-details div.field.active label,
#div-details div.field.active span {
	font-style: italic;
}
#div-details div.field.active label {
	margin-left: 2em;
}
#div-details div.field {
	margin-top: 0.4em;
	border-top: 1px solid #ccc;
	padding: 0.4em 8px;
}
#div-details div.field.name,
#div-details div.field.active {
	margin-top: 0;
	padding-top: 0;
	padding-bottom: 0;
	border: none;
}
#div-details div.field div.title {
	color: #bbb;
	font-weight: bold;
	margin-bottom: 0.2em;
}
#div-details-buttons {
	margin-top: 0.4em;
	border-top: 1px solid #ccc;
	padding: 1em 8px 0;
	font-size: 10px;
}