body {
	background-color: #fff;
	font-family: sans-serif;
	margin: 8px;
}
div.body {
	width: 800px;
	margin: auto;
}
h1 {
	text-align: center;
}
#div-myself {
	border: 8px solid #090;
	padding: 8px 16px;
	text-align: center;
}
#div-delegation {
	background-color: #eee;
	margin-top: 2em;
	text-align: center;
	color: #999;
}
#div-delegation div.layout {
	padding: 8px 16px;
}
div.error {
	background-color: #900;
	color: #fff;
	padding: 1em;
	text-align: center;
	margin-bottom: 1px;
}
div.error span.message {
	xfont-style: italic;
}
body.entered {
	margin: 0 0 8px;
}
body.entered div.body {
	margin-top: 8px;
}
#div-entered {
	background-color: #79b8d9;
	color: #fff;
	font-size: small;
	padding: 2px 0;
	text-align: center;
}
#div-entered ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#div-entered li {
	display: inline-block;
	margin: 0 2em 0 1em;
}
#div-entered a {
	color: #fff;	
}
#div-entered a:active{
	color: #f00;
}
#body-entered table {
	border-collapse: collapse;	
}
#body-entered th,
#body-entered td {
	border: 1px solid #000;	
}
#body-entered th,
#body-entered td {
	padding: 2px 30px;
}
#body-entered #div-regions td.label {
	padding: 2px 2px;
}
#body-entered th {
	background-color: #9bc9e1;
}
h2 {
	text-align: center;	
}
table {
	margin: auto;	
}
table a {
	text-decoration: none;
}
td.edit {
	font-size: small;
}
div.disabled {
	color: #ccc;
}
div.table.bottom {
	text-align: center;
	margin-top: 1em;	
}
div.table.bottom a {
	text-decoration: none;	
}
#body-entered th.none,
#body-entered td.none {
	border: none;
	padding: 0 2px;
	font-weight: bold;	
	background-color: transparent;
	width: 30px;
	text-align: right;
}
#body-entered td.none div.delegation,
#body-entered td.none div.delegation.principal {
	color: #090;
}
#body-entered td.none div.principal {
	color: #900;
}
#body-useradd th {
	text-align: left;
}
#body-useradd th,
#body-useradd td {
	padding: 0.5em 0.2em;	
}
#body-useradd div.table.bottom {
	margin-top: 2em;
}
#body-useradd button,
#div-regions button {
	margin-left: 6em;
	margin-right: 6em;	
}
#body-useradd div.table.bottom a {
	font-size: small;
}
#body-useradd input {
	width: 20em;
}
#div-regions input {
	width: 20em;
}
span.error {
	color: #900;
	font-weight: bold;
	font-size: small;
	text-decoration: underline;
}
#div-regions,
#div-pois {
	margin-top: 3em;
}
#div-regions td.universityCount,
#div-pois td.poiCount {
	text-align: right;
}
#div-regions td.universityCount {
	padding-right: 4em;
}
#div-buildInfo {
	margin-bottom: 2em;
	text-align: center;
	color: #ccc;
	font-size: small;	
}
h2 a {
	text-decoration: none;
}
}
