<div>
    <div class="page-title">
        <h1 ng-if="item.id">Modifier Mediathèque</h1>
        <h1 ng-if="!item.id">Ajouter Mediathèque</h1>
    </div>

    <form>
        <div class="form-group">
            <label for="university" class="control-label">Universit&eacute;</label>
            <select class="form-control" id="university"
                    ng-model="item.universityId"
                    ng-options="uni.id as uni.title group by uni.regionName for uni in unis"
                    >
          <option ng-if="isSuperAdmin()" value="">---</option>
            </select>
        </div>
        <div class="form-group">
            <label for="name" class="control-label">Étiquette *</label>
            <input type="text" class="form-control" id="name" ng-model="item.label" validator="[required]"/>
        </div>
        <div class="form-group">
            <label for="url" class="control-label">URL *</label>
            <input type="text" class="form-control" id="url" ng-model="item.url" validator="[requiredUrl]"/>
        </div>
        <button type="button" class="btn btn-success" ng-click="handleSaveClicked( item )">Enregister</button>
        <a href="#/links" class="btn btn-danger">Annuler</a>
    </form>
</div>