<style>
.ta-toolbar {
    background-color: #F0F0F0;
    padding: 5px 2px;
    margin-bottom: 5px;
}
</style>
<div>
    <div class="page-title">
        <h1 ng-if="item.id">Modifier Menu</h1>
        <h1 ng-if="!item.id">Ajouter Menu</h1>
    </div>

    <div class="alert alert-danger" role="alert" ng-if="submitTracking && !validateUrlOrContent(item)">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        Entrez une URL ou le contenu
    </div>

    <form>
        <div class="form-group">
            <label for="name" class="control-label">Nom *</label>
            <input type="text" class="form-control" id="name" ng-model="item.name" validator="[required]" ng-disabled="!isSuperAdmin() && !item.universityId"/>
        </div>
        <div class="form-group">
            <label for="university" class="control-label">Université</label>
            <select class="form-control" id="university"
                    ng-model="item.universityId"
                    ng-options="uni.id as uni.title group by uni.regionName for uni in unis"
                    ng-disabled="!isSuperAdmin() && !item.universityId"
                    options-class="univInactive"
                    >
	      <option ng-if="isSuperAdmin()" value="">---</option>
            </select>
        </div>
        <div class="form-group">
            <label for="grouping" class="control-label">Groupe *</label>
            <select class="form-control" id="type"
                    ng-model="item.grouping"
                    ng-options="grouping for grouping in groups"
                    validator="[required]"
                     ng-disabled="!isSuperAdmin() && !item.universityId"
                    >
            </select>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="item.active"  ng-disabled="!isSuperAdmin() && !item.universityId"/> Actif
            </label>
        </div>
        <div class="form-group">
            <label for="ordinal" class="control-label">Ordre *</label>
            <input type="text" class="form-control" id="ordinal" ng-model="item.ordinal" validator="[required]"  ng-disabled="!isSuperAdmin() && !item.universityId"/>
        </div>
        <div class="form-group">
            <label for="url" class="control-label">URL</label>
            <input type="text" class="form-control" id="url" ng-model="item.url" validator="[optionalUrl]" validator-required="false"  ng-disabled="!isSuperAdmin() && !item.universityId"/>
        </div>
        <div class="form-group">
            <label for="content" class="control-label">Content</label>
            <div id="content" name="content" text-angular ta-toolbar="[['h1','h2','h3','h4','h5','h6','p','pre','quote'],['bold','italics','underline','ul','ol','undo','redo','clear'],['justifyLeft','justifyCenter','justifyRight','indent','outdent'],['html'],['insertImage', 'uploadImage']]" ng-model="item.content"  ng-disabled="!isSuperAdmin() && !item.universityId"></div>
        </div>
        
        <br/><br/><br/>
        
        <div class="form-group" ng-hide="item.universityId > 0 || item.id <= 0">
        	<label>Menu actif pour les universit&eacute;s suivantes :</label>
        	<br/>
	        <table class="table table-striped table-condensed table-menus">
		        <tr>
		            <th>Menu Actif ?</th>
		            <th>Région</th>
		            <th>Université</th>
		            <th>Université active ?</th>
		        </tr>
		        <tr ng-repeat="uni in unis">
		        	<td>
		        		<input type="checkbox" ng-model="uni.inactiveMenu.active"/>
		        	</td>
		        	<td>
		        		{{uni.regionName}}
		        	</td>
		        	<td>
		        		{{uni.title}}
		        	</td>
		        	<td>
		        		<input type="checkbox" ng-model="uni.active" disabled="disabled"/>
		        	</td>
		        </tr>
	        </table>
        </div>

        <button type="button" class="btn btn-success" ng-click="handleSaveClicked( item, unis )">Enregister</button>
        <a href="#/menus" class="btn btn-danger">Annuler</a>
    </form>
</div>

    <div id="imageMapModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Annuler</span></button>
            <h4 class="modal-title"><span>T&eacute;l&eacute;charger une image</span></h4>
          </div>
          <div class="modal-body">

            <div class="alert alert-danger" ng-show="upload.lastError" role="alert">
                <strong>Erreur!</strong> <span>{{ upload.lastError }}</span>
            </div>

            <form id="imageupload" class="form-horizontal" role="form" action="{{ uploadUrl }}" method="POST" enctype="multipart/form-data">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Image</label>
                <div class="col-sm-10">
                  <input type="file" name="file" style="display: none">
                  <span style="line-height: 34px">{{ temporalImageFile }}</span>
                </div>
              </div>
            </form>
          <div id="progress" ng-show="upload.progress !== false && upload.progress > 0">
            <div class="bar">Chargement {{ upload.progress }}%</div>
          </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="pull-left btn btn-success" ng-click="selectFile()"><span class="glyphicon glyphicon-plus" aria-label="Add file"></span>&nbsp;Image</button>
            <button type="button" class="btn btn-default" ng-click="closeImageUploadModal()">Annuler</button>
            <button id="uploadSubmit" type="button" class="btn btn-primary">T&eacute;l&eacute;charger</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
