<div>
    <div class="page-title">
        <div class="col-sm-9">
            <h1>Menus</h1>
        </div>
        <div class="col-sm-3">
            <button class="btn btn-success pull-right" ng-click="handleEditClick( null )">Ajouter un Menu</button>
        </div>
        <div class="clearfix"></div>
    </div>


    <table class="table table-striped table-condensed table-menus">
        <tr>
            <th>Université</th>
            <th>Nom</th>
            <th>Groupe</th>
            <th>Actif</th>
            <th>Ordre</th>
            <th>Url</th>
            <th>Content</th>
            <th class="alt-action">Action</th>
        </tr>
        <tr ng-if="!items">
            <td colspan="8">Chargement ...</td>
        </tr>
        <tr ng-if="items && !items.length">
            <td colspan="8"> - Aucune donn&eacute;e -</td>
        </tr>
        <tr ng-repeat="item in items">
            <td>{{item.getUni().title}}</td>
            <td>{{item.name}}</td>
            <td>{{item.grouping}}</td>
            <td>
                <span ng-if="item.active" class="glyphicon glyphicon-ok text-success"></span>
                <span ng-if="!item.active" class="glyphicon glyphicon-remove text-danger"></span>
            </td>
            <td>{{item.ordinal}}</td>
            <td>{{item.url}}</td>
            <td>{{item.content|limitTo:50}}</td>
            <td>
                <button class="btn btn-info btn-sm" ng-click="handleEditClick( item )"><span class="glyphicon glyphicon-pencil"></span></button>
                <button class="btn btn-danger btn-sm" ng-click="handleDeleteClick( item )"><span class="glyphicon glyphicon-remove"></span></button>
            </td>
        </tr>
    </table>
    
    <div class="main-search-pager" ng-show="pager.numPages > 1">
        <pagination total-items="pager.totalCount" items-per-page="pager.pageSize"
                    max-size="10" boundary-links="true" class="pagination-sm" ng-model="pager.page"
                    ng-change="loadItems()" num-pages="pager.numPages"
                    previous-text="page pr&eacute;c&eacute;dente" next-text="page suivane"
                    first-text="première page" last-text="dernière page"></pagination>
        <pre>Page: {{pager.page}} / {{pager.numPages}}</pre>
    </div>    

</div>
