.alert-global{ position: absolute; width: 20%; margin: 0 auto 0 auto; top: 0; left: 40%; display: none; z-index: 10000 }

.container { max-width: 1170px; }
.footer{ margin-top: 20px; }

.page-title h1 { margin: 0 0 20px 0;}
.page-title button { margin-top: 5px;}
.page-title div { padding: 0;}

.notification-content { min-height: 200px; }

.main-tabs { margin-top: 15px; }

.table-cats .alt-action { min-width: 200px; }

.univInactive, a.univInactive { color: orange !important;font-style: italic !important;}

.roleFilter .btn.btn-default.active {
    background: none repeat scroll 0 0 #339d33;
    border: medium none grey;
    color: white;
}